body
	font-family: $montserrat
	+f(14px, 400, 1.42857)
	min-width: 320px
	color: $black 
	+font-smoothing
	background-color: $white
	
	&[data-lazy]
		opacity: 0
		transition: opacity .35s ease-in-out
		&.is-loaded
			opacity: 1
	&.is-overflow-hidden
		// overflow: hidden
		// // position: fixed
		// top: 0
		// left: 0
		// width: 100%

// .loader
// 	display: none

