.notice
	vertical-align: top
	display: inline-block
	+hover
		.notice__text
			border-bottom: 1px solid currentColor 
	.icon
		margin-right: 10px
		color: $lightBrown
		font-size: 19px
		vertical-align: middle
		display: inline-block
		+sm
			margin-right: 5px
			font-size: 16px
	&__text
		color: $black
		transition: border-color .3s 
		border-bottom: 1px solid transparent 

.tags
	font-size: 0

.tag
	margin: 0 4px 8px
	padding: 7px 12px
	color: $white 
	font-family: $montserrat
	+f(11px,400,1.28)
	text-transform: uppercase
	background-color: $blue
	vertical-align: top
	transition: opacity .3s
	display: inline-block 
	+hover
		opacity: 0.8
	&_orange
		background-color: $orange
	&_black
		background-color: $black
	&_red
		background-color: $red
	&_yellow
		background-color: $yellow
	&_beige
		background-color: $beige
	&_purple
		background-color: $purple
	&_turquoise
		background-color: $turquoise
	&_green
		background-color: $green

.like
	position: relative
	width: 22px
	height: 20px
	color: $black
	transition: color .3s
	vertical-align: top
	line-height: 1
	font-size: 0
	cursor: pointer
	background-color: transparent 
	display: inline-block
	+hover
		color: $red
	input
		position: absolute
		top: 0
		left: 0
		width: 22px
		height: 20px
		opacity: 0
		cursor: pointer
		&:checked
			& ~ .icon-heart-outline
				visibility: hidden
				opacity: 0
			& ~ .icon-heart
				visibility: visible
				opacity: 1
			+hover
				& ~ .like__lines
					opacity: 1
					visibility: visible
	.icon
		position: absolute
		top: 50%
		left: 50%
		margin: -10px 0 0 -11px
		font-size: 20px
		transition: opacity .3s, visibility .3s
	.icon-heart
		opacity: 0
		visibility: hidden
		color: $red 
	&__lines
		position: absolute
		top: -2px
		left: 2px
		height: 4px
		width: 26px
		+rotate(45)
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
		transform-origin: top left
		border-bottom: 2px solid $red
		background-color: $white  

.subscribe-link
	font-size: 14px
	line-height: 1.2
	color: $gray 
	transition: color .3s
	+hover
		color: $lightBrown
	.icon-email-outline
		margin-right: 2px
		font-size: 16px
		vertical-align: top

.action-block
	position: absolute
	top: 4px
	left: 4px
	z-index: 2
	padding: 4px 10px
	font-size: 11px
	line-height: 1.6
	color: $white 
	background: $red 

.btn-hard
	&__btn
		position: relative
	.like
		margin-left: 8px
		&__lines
			top: 11px
			left: 14px
.iconlink
	position: relative
	padding-left: 30px
	vertical-align: top
	line-height: 1.428
	font-size: 16px
	color: $black
	display: inline-block
	+hover
		color: $lightBrown 
		.iconlink__icon
			color: currentColor 
	&__icon
		position: absolute
		top: 0
		left: 0
		color: $silver
		font-size: 0
		transition: color .3s 
		.icon
			font-size: 20px 
		.icon-location
			margin-top: -2px
			font-size: 24px
	&__text
		transition: color .3s 
