{% import "../_mixins.html" as mixins %}
{% macro feedback(props) %}
    {% set fieldset_1 = [
        {
            label: "Фамилия",
            id: "surname",
            required: true
        }, {
            label: "Имя",
            id: "name",
            required: true
        }, {
            label: "Отчество",
            id: "middle_name"
        }
    ] %}

    {% set selects = ["Товары, акции, скидки", "Техническая поддержка", "Доставка и самовывоз заказа", "Возврат товара", "Другое"] %}

    <div class="modal {% if props.open %} is-open{% endif %}" data-modal="{{props.modal}}">
        <div class="modal__container modal__container_feedback" data-modal-container="data-modal-container">
            <button class="modal__off" type="button" data-modal-close="data-modal-close">{{ mixins.icon('close') }}</button>
            <form action="/" class="modal__form feedback">
                <div class="modal__title">{{props.title or 'Обратная связь'}}</div>
                <div class="modal__info">
                    Здесь вы можете задать интересующий вас вопрос. Также можете ознакомиться с разделом сайта
                    <a href="#" class="link">общие вопросы</a>, возможно, на ваш вопрос мы уже ответили ранее.
                </div>
                <div class="dashed-separator dashed-separator_feedback"></div>
                <fieldset class="feedback__fieldset">
                    <legend class="feedback__legend">Представьтесь, пожалуйста</legend>
                    {% for item in fieldset_1 %}
                        <div class="feedback__control js-form-control">
                            <label class="feedback__label" for="{{item.id}}">{{item.label}}</label>
                            <input type="text" class="feedback__input input" id="{{item.id}}" {% if item.required %} data-validation="required" data-validation-event="keyup change" {% endif %}>
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="dashed-separator dashed-separator_feedback"></div>
                <fieldset class="feedback__fieldset">
                    <legend class="feedback__legend">Задайте вопрос</legend>
                    <div class="feedback__control js-form-control">
                        <label class="feedback__label feedback__label_select" for="question-theme">Тема вопроса</label>
                        <select class="feedback__select select select_bord js-select" data-width="280px" id="question-theme">
                            {% for item in selects %}
                                <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if props.orderNumber %}
                        <div class="feedback__control js-form-control">
                            <label class="feedback__label" for="order-number">Номер заказа</label>
                            <input type="text" class="feedback__input input" id="order-number" data-validation="required" data-validation-event="keyup change">
                        </div>
                    {% endif %}

                    <div class="feedback__control js-form-control">
                        <label class="feedback__label feedback__label_textarea" for="question">Вопрос</label>
                        <textarea class="feedback__textarea input" placeholder="Пожалуйста, наиболее подробно опишите ваш вопрос. Вы также можете прикрепить файл со снимком экрана." style="height: 78px"></textarea>
                    </div>
                    <div class="feedback__control js-form-control">
                        <div class="file">
                            <label class="file__label" for="file">Прикрепить файл</label>
                            <input type="file" class="file__input js-file-input" id="file" data-file="feedback-upload" multiple="multiple"/>
                            <span class="file__preview js-file-preview" data-preview="feedback-upload"></span>
                        </div>
                    </div>
                </fieldset>
                <div class="feedback__submit">
                    <button class="btn" type="submit" disabled="disabled">задать вопрос</button>
                </div>

            </form>
        </div>
    </div>
{% endmacro %}