--- title: Basket ---

{% extends "layouts/_layout.html" %}

{% block content %}

    
    <div class="inner">

		{{ mixins.breadcrumbs({

			list: ['Назад','Главная','Корзина']
		}) }}
        <div class="row">
            <div class="col col-66">
                {{ mixins.theadsimple({ product: '1 товар' }) }}
                {{ mixins.basketlist({ 
					active: 1,
					list: [
						{
							icon: 'shopping-full',
							title: 'КОРЗИНА'
						},
						{
							icon: 'home-map-marker',
							title: 'САМОВЫВОЗ / ДОСТАВКА'
						},
						{
							icon: 'wallet',
							title: 'ОПЛАТА'
						},
						{
							icon: 'approval',
							title: 'ПОДТВЕРЖДЕНИЕ'
						}
					]
				}) }}

                {{ mixins.notavailable({
                	cardList: [
	                    {
	                        img: 'vase.jpg',
							subscribe: true
	                    },
	                    {
	                        img: 'vase-2.jpg',
							subscribe: true
	                    }
	                ]
                }) }}

                {% for card in [
                    {
                        img: 'vase-2.jpg',
                        price: '1000 ₽',
                        priceOld: '1400 ₽',
                        action: true,
                        quantity: {
                            select: true
                        },
                        benefit: true
                    },
                    {
                        img: 'vase-2.jpg',
                        price: '1000 ₽',
                        priceOld: '1400 ₽',
                        quantity: {
                            select: true
                        },
                        benefit: true
                    }
                ] %}
                    {{ mixins.card({
					img: card.img,
					price: card.price,
					action: card.action,
					priceOld: card.priceOld,
					quantity: { select: card.quantity.select },
					benefit: card.benefit,
					like: true,
					subscribe: true,
					availability: 'Осталось в наличии: 2'
				}) }}

                {% endfor %}

            </div>
            <div class="col col-33">
                {{order.ordered_shop()}}
                {# {{order.basket_ref()}} 
                {{order.self_delivery()}}
                {{order.self_delivery_payment()}} #}
            </div>
        </div>
    </div>

{% endblock %}