--- title: Catalog ---
{% import "data/data.html" as data %}
{% extends "layouts/_layout.html" %}
{% block content %}
    <div class="inner">
        {{ mixins.breadcrumbs({ list: ['Назад','Главная','Каталог'] }) }}
        <div class="row">
            <div class="col col-33">
                <aside class="sidebar">
                    <h4 class="sidebar__title">
                        Каталог
                    </h4>
                    <div class="sidebar__list">
                        <ul class="sidebar-list">
                            {% for item in data.sidebar_list %}
                                {% if item.single %}
                                    <li class="sidebar-list__item">
                                        <a href="{{item.link}}">{{item.title | safe}}</a>
                                    </li>
                                {% else %}
                                    <li class="sidebar-list__item {% if item.isOpen %}is-open{% endif %}">
                                        <a href="#">{{item.title | safe}}</a>
                                        <ul class="sidebar-list__secondary-list">
                                            {% for list in item.list %}
                                                <li class="sidebar-list__item {% if list.isActive %}is-active{% endif %}">
                                                    <a href="{{list.link}}">{{list.title | safe}}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col col-66">

                {{ mixins.theadsimple({ title: 'Каталог', product: '6758 товаров' }) }}

                <div class="row catalog-cards">
                    {% for cardcatalog in [
				{
					img: "amethyst-1920@2x.jpg",
					title: "Изделия из натуральных камней"
				},
				{
					img: "thumb_cover_header@2x.jpg",
					title: "Муранское стекло"
				},
				{
					img: "nav-img@2x.jpg",
					title: "Предметы интерьера"
				},
                {
					img: "amethyst-1920@2x.jpg",
					title: "Изделия из натуральных камней"
				},
				{
					img: "thumb_cover_header@2x.jpg",
					title: "Муранское стекло"
				},
				{
					img: "nav-img@2x.jpg",
					title: "Предметы интерьера"
				},
                {
					img: "amethyst-1920@2x.jpg",
					title: "Изделия из натуральных камней"
				},
				{
					img: "thumb_cover_header@2x.jpg",
					title: "Муранское стекло"
				},
				{
					img: "nav-img@2x.jpg",
					title: "Предметы интерьера"
				},
                {
					img: "amethyst-1920@2x.jpg",
					title: "Изделия из натуральных камней"
				},
				{
					img: "thumb_cover_header@2x.jpg",
					title: "Муранское стекло"
				},
				{
					img: "nav-img@2x.jpg",
					title: "Предметы интерьера"
				},
				{
					img: "jaime-handley-44725-unsplash@2x.jpg",
					title: "СУВЕНИРНЫЕ ИЗДЕЛИЯ, КОПИЛКИ, АНТИСТРЕССЫ"
				},
				{
					img: "megalopolis-3257873_1920@2x.jpg",
					title: "СИМВОЛЫ ГОРОДА ОМСКА"
				}
				] %}
                        <div class="col col-33 col-md-50 col-sm-100">
                            {{ mixins.cardcatalog({
                                img: cardcatalog.img,
                                title: cardcatalog.title
                            }) }}
                        </div>
                    {% endfor %}
                </div>
                {% include "partials/main/_filter.html" %}
            </div>
        </div>
    </div>
    {% include "partials/_footer.html" %}
{% endblock %}

