--- title: home-registration-phone ---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/main/_quick-infos.html" %}
    {% include "partials/main/_slider.html" %}
    {% include "partials/main/_holiday-day.html" %}
    {% include "partials/main/_new-collections.html" %}
    {% include "partials/main/_articles.html" %}
    {% include "partials/main/_posts.html" %}
    {% include "partials/main/_interior-day.html" %}
    {% include "partials/main/_about.html" %}
    {% include "partials/main/_joinus.html" %}
    <!-- begin modal -->
    <div class="modal is-open" data-modal="change-password">
        <div class="modal__container" data-modal-container="data-modal-container">
            <form action="/" class="modal__form form">
                <div class="modal__title">Смена пароля</div>
                <div class="form-control form-control_sm js-form-control">
                    <input type="password" class="input input_password" name="current-pass" placeholder="Текущий пароль" data-validation="required" data-validation-event="keyup change"/>
                </div>
                <div class="form-control form-control_restore-password form-control_sm js-form-control">
                    <input type="password" class="input input_password" name="new-pass" placeholder="Новый пароль" data-validation="required length" data-validation-event="keyup change" data-validation-length="min10"/>
                </div>
                <div class="form-control form-control_restore-password form-control_sm js-form-control">
                    <input type="password" class="input input_password" name="new-password" placeholder="Повторите новый пароль" data-validation="confirmation required length" data-validation-event="keyup change" data-validation-confirm="new-pass" data-validation-length="min10"/>
                </div>
                <div class="form-control">
                    <button class="btn btn_full" type="submit" disabled="disabled">Далее</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end modal -->

{% endblock %}