--- title: home-registration-phone ---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/main/_quick-infos.html" %}
    {% include "partials/main/_slider.html" %}
    {% include "partials/main/_holiday-day.html" %}
    {% include "partials/main/_new-collections.html" %}
    {% include "partials/main/_articles.html" %}
    {% include "partials/main/_posts.html" %}
    {% include "partials/main/_interior-day.html" %}
    {% include "partials/main/_about.html" %}
    {% include "partials/main/_joinus.html" %}
    <!-- begin modal -->
    <div class="modal is-open" data-modal="change-password">
        <div class="modal__container" data-modal-container="data-modal-container">
            <button class="modal__off" type="button" data-modal-close="data-modal-close">{{ mixins.icon('close') }}</button>
            <form action="/" class="modal__form form">
                <div class="modal__title modal__title_wide">Пароль успешно обновлен</div>
                <div class="form__text text-gray">Теперь вы можете войти в свою учетную запись</div>
                <div class="form-control">
                    <button class="btn btn_full" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end modal -->

{% endblock %}