--- title: club-page user: true ---
{% import "partials/_mixins.html" as mixins %}

{% set articles = [
    {
        articleTitle: "Наша программа лояльности",
        id: "loyalty",
        sections: [
            {
                sectionTitle: 'Подзаголовок внутри раздела из нескольких слов',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    image: 'beautiful-book.jpg', 
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            }
        ]
    },
    {
        articleTitle: "Сотрудничество/оптовым покупателям",
        id: "cooperations",
        sections: [
            {
                sectionTitle: 'Подзаголовок внутри раздела из нескольких слов',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            }
        ]
    }    
] %}

{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="inner">
        {{ mixins.breadcrumbs({
            list: ['Назад','Главная','Клуб Дары Востока']
        }) }}
        <div class="row js-sticky-container">
            <div class="col col-66 col-md-100">
                {{ mixins.theadsimple({ title: 'Добро пожаловать в клуб Дары востока' }) }}
                <div class="company-descr" id="about">
                    <div class="company-descr__illustration" style="background-image: url(./img/stroke.svg);">
                        <span class="company-descr__image" style="background-image: url(./img/company_descr.png);"></span>
                    </div>
                    <div class="company-descr__text">Данный текст будет кратким описанием особенностей и преимуществ клуба «Дары Востока» со слов Ольги Туркиной. Описание должно занимать не более трех строк текста и содержать ключевые моменты, которые зацепят пользователя и останутся в его памяти.
                    </div>
                    <div class="company-descr__author">
                        <h5>Ольга Туркина</h5>
                        <p>Управляющая развитием розничного направления ООО «Дары Востока»</p>
                    </div>
                </div>
                {% for article in [
                    {
                        sections: [
                            {
                                sectionTitle: 'Подзаголовок внутри раздела из нескольких слов',
                                text: [
                                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                                    существующих паттернов поведения.",
                                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                                    максимально подробно."
                                ], 
                                images: [{
                                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                                }]
                            }
                        ]
                    },
                    {
                        sections: [
                            {
                                sectionTitle: 'Подзаголовок внутри раздела из нескольких слов',
                                text: [
                                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                                    существующих паттернов поведения.",
                                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                                    максимально подробно."
                                ], 
                                images: [{
                                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                                }]
                            }
                        ]
                    }
                ] %}
                    {{mixins.infoArticle(article)}}
                {% endfor %}

                {% for article in articles %}
                    {{mixins.infoArticle(article)}}
                {% endfor %}

            </div>
            <div class="col col-33 md-hide">
                <div class="js-sticky-element">
                    <div class="sidebar sidebar_sticky">
                        <h4 class="sidebar__title">
                            Клуб Дары Востока
                        </h4>
                        <ul class="info-list js-menu-spy">
                            <li class="info-list__item">
                                <a href="#about" class="info-list__link">О КЛУБЕ</a>
                            </li>
                            <li class="info-list__item">
                                <a href="#loyalty" class="info-list__link">
                                    ПРОГРАММА ЛОЯЛЬНОСТИ</a>
                            </li>
                            <li class="info-list__item">
                                <a href="#cooperations" class="info-list__link">СОТРУДНИЧЕСТВО/ОПТОВЫМ ПОКУПАТЕЛЯМ</a>
                            </li>
                        </ul>
                        <div class="sidebar__feedback-btn">
                            <button class="btn btn_full">ОБРАТНАЯ СВЯЗЬ</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}