--- title: club-page user: true ---
{% import "partials/_mixins.html" as mixins %}

{% set articles = [
    {
        articleTitle: "Доставка и самовывоз",
        modifier: "delivery",
        id: "delivery",
        sections: [
            {
                sectionTitle: 'Доставка',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    image: 'beautiful-book.jpg', 
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            },
            {
                sectionTitle: 'Самовывоз',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    image: 'beautiful-book.jpg', 
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            }
        ]
    },
    {
        articleTitle: "Оплата",
        id: "payment",
        sections: [
            {
                sectionTitle: 'Способы оплаты заказа',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            },
            {
                modifier: 'addon',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения."
                ], 
                images: [{
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            }
        ]
    },
    {
        articleTitle: "Обмен/возврат товара",
        id: "change",
        sections: [
            {
                sectionTitle: 'Вы можете в случае необходимости обменять или вернуть приобретенный у нас товар',
                text: [
                    "Задача организации, в особенности же сплоченность команды профессионалов в значительной 
                    степени обусловливает важность стандартных подходов! Современные технологии достигли такого 
                    уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа 
                    существующих паттернов поведения.",
                    "Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
                    прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
                    глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
                    отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
                    максимально подробно."
                ], 
                images: [{
                    descr: 'Здесь возможен какой-то короткий текст пояснение'
                }]
            }
        ]
    }
] %}

{% set accordions = [
    {
        tab: "tab-1",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный, примерно две или три строки длиной',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>

        <p>Господа, семантический разбор внешних противодействий не оставляет шанса для направлений 
        прогрессивного развития. В своем стремлении повысить качество жизни, они забывают, что 
        глубокий уровень погружения создает предпосылки для позиций, занимаемых участниками в 
        отношении поставленных задач. Интерактивные прототипы неоднозначны и будут описаны 
        максимально подробно.</p>'
    }, {
        tab: "tab-2",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }, {
        tab: "tab-3",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }, {
        tab: "tab-4",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }, {
        tab: "tab-5",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }, {
        tab: "tab-6",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }, {
        tab: "tab-7",
        title: 'Пример часто задаваемого вопроса, кратко и четко сформированный',
        text: '<p>Задача организации, в особенности же сплоченность команды профессионалов в значительной степени обусловливает важность стандартных подходов! Современные технологии достигли такого уровня, что социально-экономическое развитие предоставляет широкие возможности для анализа существующих паттернов поведения.</p>'
    }
]
 %}

{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="inner">
        {{ mixins.breadcrumbs({
            list: ['Назад','Главная','Для покупателей']
        }) }}
        <div class="row js-sticky-container">
            <div class="col col-66 col-md-100">
                {% for article in articles %}
                    {{mixins.infoArticle(article)}}
                {% endfor %}
                <article class="info-article info-article_faq" id="faq">
                    <h2 class="title info-article__title">
                        Общие вопросы
                    </h2>
                    <div class="info-article__search">
                        {{ mixins.newsearch("Поиск по вопросам") }}
                    </div>
                    <div class="info-article__accordions accordions">
                        {% for accordion in accordions %}
                            <!-- begin accordion -->
                            <div class="accordion{% if loop.index == 1 %} is-open{% endif %} js-accordion">
                                <div class="accordion__topic js-accordion-trigger" data-tabs-control="{{ accordion.tab }}">
                                    <span>{{ accordion.title | safe }}</span>
                                    {{mixins.icon('chevron-down')}}
                                </div>
                                <div class="accordion__wrap js-accordion-wrap">
                                    {{ accordion.text | safe}}
                                </div>
                            </div>
                            <!-- end accordion -->
                        {% endfor %}
                    </div>
                </article>
            </div>
            <div class="col col-33 md-hide">
                <div class="js-sticky-element">
                    <div class="sidebar sidebar_sticky sidebar_info">
                        <h4 class="sidebar__title">
                            Для покупателей
                        </h4>
                        <ul class="info-list js-menu-spy">
                            <li class="info-list__item">
                                <a href="#delivery" class="info-list__link">ДОСТАВКА И САМОВЫВОЗ</a>
                            </li>
                            <li class="info-list__item">
                                <a href="#payment" class="info-list__link">
                                    ОПЛАТА</a>
                            </li>
                            <li class="info-list__item">
                                <a href="#change" class="info-list__link">ОБМЕН/ВОЗВРАТ ТОВАРА</a>
                            </li>
                            <li class="info-list__item">
                                <a href="#faq" class="info-list__link">ОБЩИЕ ВОПРОСЫ</a>
                            </li>
                        </ul>
                        <div class="sidebar__feedback-btn">
                            <button class="btn btn_full">ОБРАТНАЯ СВЯЗЬ</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}