--- title: Basket ---

{% import "data/data.html" as data %}
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="inner">
		{{ mixins.breadcrumbs({

			list: ['Назад','Главная','Акции']
		}) }}
		<div class="magazine-article">
			{{ mixins.magazineTop({
				title: "Заголовок статьи, желательно, чтобы это были две или одна строчки",
				text: "Здесь будет текст, который служит подзаголовком к статье, желательно, чтобы это были две–три строчки, как выжимка из последующих слов в статье",
				tags: [
					{
						class: 'tag_orange',
						text: 'ДОБРОЕ УТРО'
					},
					{
						class: 'tag_green',
						text: 'РЕЦЕПТЫ'
					}
				]
			}) }}
			{{ mixins.magazineImg("penchant-styled-542047-unsplash.jpg", true) }}
				{{ mixins.magazineParagraph({
					subtitle: "Подзаголовок внутри статьи из нескольких слов",
					text: ["Но высококачественный прототип будущего проекта требует определения и уточнения анализа 
					существующих паттернов поведения. В рамках спецификации современных стандартов, сделанные 
					на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и указаны как 
					претенденты на роль ключевых факторов. И нет сомнений, что сторонники тоталитаризма в науке 
					могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу 
					обществу."]
				}) }}
			<div class="magazine-photos">
				<div class="row magazine-photos__row">
					<div class="col col-42 col-md-100 magazine-photos__col">
						{{ mixins.magazineImg("organic-bowl-2262914_1920.jpg") }}
					</div>
					<div class="col col-50 col-md-100 magazine-photos__col magazine-photos__col_right">
						{{ mixins.magazineImg("freestocks-org-596380-unsplash.jpg") }}
					</div>
				</div>
			</div>
			{{ mixins.magazineParagraph({
				subtitle: "Подзаголовок внутри статьи из нескольких слов",
				text: ["Но высококачественный прототип будущего проекта требует определения и уточнения анализа 
				существующих паттернов поведения. В рамках спецификации современных стандартов, сделанные 
				на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и указаны как 
				претенденты на роль ключевых факторов. И нет сомнений, что сторонники тоталитаризма в науке 
				могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу 
				обществу."]
			}) }}
			<div class="magazine-slider js-magazine-slider-parent">
				<div class="magazine-slider__wrap">
					<button class="magazine-slider__prev js-magazine-slider-prev">
						{{ mixins.icon('arrow-left') }}
					</button>
					<button class="magazine-slider__next js-magazine-slider-next">
						{{ mixins.icon('arrow-right') }}
					</button>
					<div class="magazine-slider__inner js-magazine-slider">
						{% for slide in [
							{
								img: "food-2203732_1920.jpg"
							},
							{
								img: "food-2203732_1920.jpg"
							},
							{
								img: "food-2203732_1920.jpg"
							}
							] %}
						<div class="magazine-slider__slide">
							{{ mixins.magazineImg(slide.img) }}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{{ mixins.magazineParagraph({
				subtitle: "Подзаголовок внутри статьи из нескольких слов",
				text: ["Лишь независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, 
				преданы социально-демократической анафеме. Равным образом, реализация намеченных плановых 
				заданий создает необходимость включения в производственный план целого ряда внеочередных 
				мероприятий с учетом комплекса распределения внутренних резервов и ресурсов. Банальные, но 
				неопровержимые выводы, а также сделанные на базе интернет-аналитики выводы являются только 
				методом политического участия и рассмотрены исключительно в разрезе маркетинговых и 
				финансовых предпосылок. Современные технологии достигли такого уровня, что сложившаяся 
				структура организации создает необходимость включения в производственный план целого ряда 
				внеочередных мероприятий с учетом комплекса вывода текущих активов.
				",
				"Безусловно, семантический разбор внешних противодействий предполагает независимые способы 
				реализации вывода текущих активов. Значимость этих проблем настолько очевидна, что 
				консультация с широким активом способствует повышению качества соответствующих условий 
				активизации. Противоположная точка зрения подразумевает, что диаграммы связей ограничены 
				исключительно образом мышления. Как принято считать, тщательные исследования конкурентов 
				смешаны с неуникальными данными до степени совершенной неузнаваемости, из-за чего возрастает 
				их статус бесполезности."]
			}) }}
		</div>
	</div>
	<div class="inner-sm">
		{{ mixins.magazineImg("deborah-diem-541104-unsplash.jpg") }}
		{{ mixins.magazineBottom({
			tags: [
					{
						class: 'tag_orange',
						text: 'ДОБРОЕ УТРО'
					},
					{
						class: 'tag_green',
						text: 'РЕЦЕПТЫ'
					}
				]
		}) }}
	</div>
	
{% endblock %}