---
title: Product card-Product description - Registered user with club card - Special offer
---

{% extends "layouts/_layout.html" %}

{% block content %}
	<!-- begin goods -->
	<div class="goods">
		<div class="goods__card">
		    <div class="goods__inner inner">
				{{ mixins.breadcrumbs({
					list: ['Назад','Главная','Каталог', 'Предметы интерьера', 'Вазы', 'Вазы настольные', 'Ваза из стекла с разноцветным узором']
				}) }}
				<div class="goods__row row">
					<div class="goods__col col col-58 col-md-100">
						{% include "partials/product-card/_slider-products.html" %}
					</div>
					<div class="goods__col col col-42 col-md-100">
						<h3 class="goods__title title-md">Ваза из стекла с разноцветным узором</h3>
			        	{{ mixins.rating(
       		            	[
       			                {
       			                	link: true,
       			                	text: '2 отзыва'
       			                },
       			                {
       			                	text: '12 просмотров'
       			                },
       			                {
       			                	text: 'Артикул: 45675'
       			                }
       			            ]
       		        	) }}
			        	<div class="goods__price">
				        	{{ mixins.price({
				        		class: 'price_red',
				        		price: "900 ₽",
				        		text: "Цена для Вас"
				        	}) }}
			        	</div>
			        	<div class="goods__price-old">
			        		{{ mixins.price({
			        			class: 'price_old',
			        			price: "1400 ₽",
			        			text: "Цена без скидки"
			        		}) }}
			        	</div>
			        	<div class="goods__controls">
				        	<div class="goods__field">
				        		<div class="goods__buy">
				        			<button class="btn btn_full" type="button">ДОБАВИТЬ В КОРЗИНУ</button>
				        			{{ mixins.likebtn() }}
				        		</div>
				        	</div>
			        	</div>
			        	<div class="goods__share">
			        		<div class="goods__field">
			        			{{ mixins.iconlink('location', 'В наличии в 3 магазинах') }}
			        		</div>
			        		<div class="goods__field">
			        			{{ mixins.iconlink('share-variant', 'Поделиться с друзьями') }}
			        		</div>
			        	</div>
					</div>
				</div>
		    </div>
		</div>
		<div class="goods__tabs">
			<!-- begin tabs -->
			<div class="tabs" data-tabs>
				<div class="tabs__current"><span data-tabs-current></span>{{ mixins.icon('chevron-up') }}</div>
				<div class="tabs__out">
					<ul class="tabs__list inner inner_pull-left">
						{% for item in [
							{
								id: 'description',
								text: 'Описание'
							},
							{
								id: 'availability',
								text: 'Наличие в магазинах',
								quantity: '3'
							},
							{
								id: 'reviews',
								text: 'Отзывы',
								quantity: '2'
							},
							{
								id: 'question-answer',
								text: 'Вопрос-ответ',
								quantity: '2'
							}
							] %}
							<li class="tabs__item" data-tabs-control="{{ item.id }}">
								{{ item.text }}
								{% if item.quantity %}<span class="tabs__quantity">{{ item.quantity }}</span>{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tabs__wrap" data-tabs-wrapper>
					<div class="tabs__container" data-tabs-container="description">
						<div class="tabs__inner inner-sm">
							<div class="tabs__row row">
								<div class="tabs__col col col-70 col-sm-100">
									<p>Эмоциональное описание. Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац считается каноническим во всех справочниках по типографике и предлагается к использованию в статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов. Эмоциональное описание. Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац считается каноническим во всех справочниках по типографике и предлагается к использованию в</p>
								</div>
								<div class="tabs__col col col-30 col-sm-100">
									<div class="tabs__group">
										<h4 class="title-xs">РАЗМЕРЫ</h4>
										<p>Длина: 56 см</p>
										<p>Ширина: 48 см</p>
										<p>Высота: 61 см</p>
									</div>
									<div class="tabs__group">
										<h4 class="title-xs">МАТЕРИАЛЫ</h4>
										<p>Дерево, акриловый лак, позолота</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__container" data-tabs-container="availability">
						<div class="tabs__inner inner-sm">
							<div class="shops-info">
								<h3 class="shops-info__title-simple title-simple">Доступно в 3 магазинах в городе Омск</h3>
								<p>Вы можете выбрать любой магазин для самовывоза товара. <a href="#" class="link">Подробнее</a></p>
								<div class="shops-info__head">
									<div class="shops-info__search">
										{{ mixins.newsearch('Город, адрес, название ТЦ') }}
									</div>
									<div class="shops-info__view">
										{{ mixins.radiobtn({ title1: 'Список', title2: 'Карта' }) }}
									</div>
								</div>
								<div class="shops-table">
									{% for table in [{
										head: ["Адрес магазина", "Телефон", "Время работы", "Наличие"],
										body: [ 
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Континент 2',
													addres: '70 лет Октября, 25 к.2 '
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: '3 шт'
												}
											],
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Мега',
													addres: 'Бульвар Архитекторов, 35'
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: '2 шт'
												}
											],
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Фестиваль',
													addres: 'ул.70 лет Октября, 19'
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: '1 шт'
												}
											],
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Маяк–3',
													addres: 'пр.Комарова, 6 к.1'
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: 'Нет в наличии',
													textClass: 'gray'
												}
											],
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Привокзальный',
													addres: 'ул.Карла Маркса, 84'
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: 'Нет в наличии',
													textClass: 'gray'
												}
											],
											[
												{
													thTitle: 'Адрес магазина',
													text: 'Каскад',
													addres: 'ул.Карла Маркса, 24'
												},
												{
													thTitle: 'Телефон',
													text: '+7 (678) 678 87 67'
												},
												{
													thTitle: 'Время работы',
													text: '10:00–21:00',
													day: 'пн–вс'
												},
												{
													thTitle: 'Наличие',
													text: 'Нет в наличии',
													textClass: 'gray'
												}
											]
										]
									}] %}
									<div class="shops-table__head">
										{% for text in table.head %}
										<div class="shops-table__th">{{text}}</div>
										{% endfor %}
									</div>
									<div class="shops-table__body">
										{% for row in table.body %}
											<div class="shops-table__row">
												{% for item in row %}
												<div class="shops-table__td" data-title="{{ item.thTitle }}">
													{% if item.day %}
													<div class="shops-table__day">{{ item.day }}</div>
													{% endif %}
													<div class="shops-table__text {% if item.textClass %} shops-table__text_{{ item.textClass }}{% endif %}">{{ item.text }}</div>
													{% if item.addres %}
													<div class="shops-table__addres">{{ item.addres }}</div>
													{% endif %}
												</div>
												{% endfor %}
											</div>
										{% endfor %}
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__container" data-tabs-container="reviews">
						<!-- begin reviews -->
						<div class="reviews">
							<div class="reviews__inner inner-sm">
								<h3 class="reviews__title title-simple">2 отзыва</h3>
								<div class="reviews-statistic">
									<div class="reviews-statistic__ratings">
										{% for item in [
											{
												stars: 5,
												quantity: 1,
												pregress: 50
											},
											{
												stars: 4,
												quantity: 1,
												pregress: 50
											},
											{
												stars: 3,
												pregress: 0
											},
											{
												stars: 2,
												pregress: 0
											},
											{
												stars: 1,
												pregress: 0
											}
										] %}
										<!-- begin rating-stat -->
										<div class="rating-statistic">
											<div class="rating-statistic__chekbox">
												<div class="rating-statistic__icon">{{ mixins.icon('check') }}</div>
											</div>
											<div class="rating-statistic__stars">
												{{ mixins.rating(null,item.stars,'rating-stars_gray', 'js-rating-full') }}
											</div>
											<div class="rating-statistic__progress progress">
												<div class="progress__inner" style="width: {{ item.pregress }}%"></div>
											</div>
											{% if item.quantity %}<div class="rating-statistic__quantity">{{ item.quantity }}</div>{% endif %}
										</div>
										<!-- end rating-stat -->
										{% endfor %}
									</div>
									<div class="reviews-statistic__estimate">
										<div class="average-rating">
											<div class="average-rating__wrap">
												<div class="average-rating__size">4.5</div>
												<div class="average-rating__stars">
													{{ mixins.rating(null,4.5,'rating-stars_md') }}
												</div>
											</div>
											<div class="average-rating__text">Средняя оценка на основании 2 отзывов</div>
										</div>
									</div>
								</div>
							</div>
							<div class="reviews-filter">
								<div class="reviews-filter__head">
									<div class="reviews-filter__inner inner inner_pull-left">
										<div class="reviews-filter__left">
											<div class="reviews-filter__toggler">
												{{ mixins.checkbox('С фото',null,true) }}
											</div>
											<div class="reviews-filter__drop">
												<div class="reviews-filter__select-text">Упорядочить</div>
												<div class="reviews-filter__select">
													<select class="select select_bord js-select" data-width="214px">
													    <option value="Cначала новинки">сначала новые</option>
													    <option value="text 1">text 1</option>
													    <option value="text 2">text 2</option>
													</select>
												</div>
											</div>
										</div>
										<div class="reviews-filter__right">
											<a href="#" class="btn btn_w-md btn_bord btn_bord-silver"><span class="btn__text">Показать</span></a>
										</div>
									</div>
								</div>
								<div class="reviews-filter__inner inner-sm">
									
								</div>
							</div>
						</div>
						<!-- end reviews -->
					</div>
					<div class="tabs__container" data-tabs-container="question-answer">
						<div class="tabs__inner inner-sm">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias placeat ut totam ex deserunt numquam odit nemo facilis quae dolorem alias atque debitis doloribus, nobis quas assumenda saepe, consequatur quidem?
						</div>
					</div>
				</div>
			</div>
			<!-- end tabs -->
			<div class="goods__filter">
				<div class="goods__inner inner-sm">
					<select class="js-select select select_bord select_sm select_icon" data-icon-arrow="chevron-down" data-width="144">
						<option value="ПОКАЗАТЬ ВСЕ">ПОКАЗАТЬ ВСЕ</option>
						<option value="item">item</option>
						<option value="item">item</option>
						<option value="item">item</option>
						<option value="item">item</option>
					</select>
				</div>
			</div>
		</div>
		<div class="goods__section">
			<div class="goods__inner inner">
				<h2 class="title text-center">Больше товаров по акции</h2>
				<div class="row row_psm">
					{% for item in range(0,5) %}
						<div class="col col_psm col-20">
							{{ mixins.product({
								action: "true",
								srcImg: "annie-spratt.jpg",
								altImg: "annie-spratt",
								price: "1000 ₽",
								priceOld: "1400 ₽",
								nameText: "Наименование товара",
								textBtn: "В корзину"
							}) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="goods__section goods__section_lg">
			<div class="goods__inner inner">
				{{ mixins.cardcollection({ 
					img: "derek-story-unsplash@2x.jpg", 
					title: "Коллекция Восточные сказки", 
					icon: "mixins.icon('arrow-right')"
				}) }}
			</div>
		</div>
		<div class="goods__section">
			<div class="goods__inner inner">
				<h2 class="title text-center">Вы недавно смотрели</h2>
				<div class="row row_psm">
					{% for item in range(0,5) %}
						<div class="col col_psm col-20">
							{{ mixins.product({
								srcImg: "annie-spratt.jpg",
								altImg: "annie-spratt",
								price: "1000 ₽",
								priceOld: "1400 ₽",
								nameText: "Наименование товара",
								textBtn: "В корзину"
							}) }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- end goods -->
{% endblock %}