--- title: home-registration-phone ---
{% extends "layouts/_layout.html" %}

{% block content %}

    {% include "partials/main/_quick-infos.html" %}
    {% include "partials/main/_slider.html" %}
    {% include "partials/main/_holiday-day.html" %}
    {% include "partials/main/_new-collections.html" %}
    {% include "partials/main/_articles.html" %}
    {% include "partials/main/_posts.html" %}
    {% include "partials/main/_interior-day.html" %}
    {% include "partials/main/_about.html" %}
    {% include "partials/main/_joinus.html" %}
    <!-- begin modal -->
    <div class="modal is-open" data-modal="restore-password">
        <div class="modal__container" data-modal-container="data-modal-container">
            <form action="/" class="modal__form form">
                <div class="modal__title modal__title_wide">Восстановление пароля</div>
                <div class="form__text">Укажите номер телефона или email,
                    <br>
                    который вы использовали для регистрации</div>
                <div class="form-control form-control_sm js-form-control">
                    <input type="text" class="input input_password" placeholder="Номер телефона или имейл" data-validation="required length" data-validation-event="keyup change" data-validation-length="min4"/>
                </div>
                <div class="form-control">
                    <button class="btn btn_full" type="submit" disabled="disabled">Далее</button>
                </div>

            </form>
        </div>
    </div>
    <!-- end modal -->

{% endblock %}