<div class="slider-products js-slider-wrap">
	<div class="slider-products__show js-slider-products">
		<div class="slider-products__slide" style="background-image: url(./img/vase.jpg);"></div>
		<div class="slider-products__slide" style="background-image: url(./img/vase.jpg);"></div>
		<div class="slider-products__slide" style="background-image: url(./img/vase.jpg);"></div>
	</div>
	<div class="slider-products__nav js-slider-products-nav">
		<div class="slider-products__slide-wrap">
			<div class="slider-products__slide-nav" style="background-image: url(./img/vase.jpg);"></div>
		</div>
		<div class="slider-products__slide-wrap">
			<div class="slider-products__slide-nav" style="background-image: url(./img/vase.jpg);"></div>
		</div>
		<div class="slider-products__slide-wrap">
			<div class="slider-products__slide-nav" style="background-image: url(./img/vase.jpg);"></div>
		</div>
	</div>
</div>	