{% import "partials/_mixins.html" as mixins %}
<section class="filter js-drop">
    <div class="filter__top js-drop-shows">
        <button class="filter-btn js-open-drop">
            <span>Фильтры</span>
            {{mixins.icon('chevron-up')}}
        </button>
        <button class="btn-reset">
            {{mixins.icon('refresh')}}
            <span>Сбросить фильтры</span>
        </button>
        <div class="select">
            Упорядочить
        </div>
    </div>
    <div class="filter__bottom js-drop-hidden" style="display: none;">
        <div class="filter__select">
            <select class="select js-select" data-width="100%">
				<option value="Цена">Цена</option>
				<option value="Цена по возрастанию">Цена по возрастанию</option>
				<option value="Цена по убыванию">Цена по убыванию</option>
			</select>
        </div>
        <div class="filter__select">
            <select class="select js-select" data-width="100%">
				<option value="Категория товара">Категория товара</option>
				<option value="1">Вазы</option>
				<option value="2">Лампы</option>
			</select>
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__select">
            lorem
        </div>
        <div class="filter__products-number">
            48 товаров
        </div>
    </div>
</section>