<div class="mailing" style="background-image: url(img/mailng@2x.jpg)">
    
    <form action="/" class="mailing__form">
        <h2 class="mailing__title title">
            Подписаться на рассылку
        </h2>
        <p class="mailing__details">
            Получайте информацию о скидках и акциях первыми!
        </p>
        <div class="mailing__input-group">
            <input type="email" class="input" placeholder="email">
            <button type="submit" class="btn btn_md btn_bord">
                <span class="btn__text">Подписаться</span> 
            </button>
        </div>
    </form>
</div>