{% import "partials/_mixins.html" as mixins %}

{% set slides = [
{
        video: {
            poster: 'video_poster.jpg',
            src: 'loading_animation.webm'
        },
        title: "Отпуск у себя дома",
        btnText: "Все акции",
        descrText: "Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац 
        считается каноническим во всех справочниках по типографике и предлагается к использованию в 
        статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов.",
        cardProducts: [{
			srcImg: "evie-shaffer-500190-unsplash@2x.jpg",
			altImg: "vase",
			price: "1000 ₽",
			nameText: "Ваза из стекла с разноцветным узором",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "fontain@2x.jpg",
			altImg: "fontain",
			price: "6000 ₽",
			nameText: "Фонтан в форме цветка",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "elephant_2.jpg",
			altImg: "elephant",
			price: "11000 ₽",
			nameText: "Слон коричневый с позолотой",
			textBtn: "В корзину"
		}]
    },
    {
        image: "alternative-aroma-aromatherapy-161599.jpg",
        title: "Слоны! Слоны! Слоны!",
        btnText: "Все акции",
        descrText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis cupiditate sequi vel exercitationem assumenda sit a blanditiis minima aliquid quas, fugit dolorum sapiente corrupti recusandae at id ut facilis ducimus voluptate! Molestias in nulla aperiam beatae tempore, qui repellendus dolor eaque iste officiis nobis facilis, ab, omnis eligendi reiciendis perspiciatis hic dignissimos ipsum distinctio provident modi ratione nam. Nobis doloremque, autem distinctio amet deleniti est officia provident, labore officiis sapiente ullam mollitia magni! A quod nostrum id ab quo aperiam aliquid, impedit mollitia iure possimus debitis minima dolorum vel eaque. Explicabo asperiores dolore consectetur fugiat incidunt mollitia quos corrupti rem.", 
        cardProducts: [{
			srcImg: "vase.jpg",
			altImg: "vase",
			price: "1000 ₽",
			nameText: "Ваза из стекла с разноцветным узором",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "fontain@2x.jpg",
			altImg: "fontain",
			price: "6000 ₽",
			nameText: "Фонтан в форме цветка",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "elephant_2.jpg",
			altImg: "elephant",
			price: "11000 ₽",
			nameText: "Слон коричневый с позолотой",
			textBtn: "В корзину"
		}]
    }, 
     
    {
        image: "alternative-aroma-aromatherapy-161599.jpg",
        title: "Отпуск у себя дома",
        btnText: "Все акции",
        descrText: "Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац 
        считается каноническим во всех справочниках по типографике и предлагается к использованию в 
        статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов.",
        cardProducts: [{
			srcImg: "vase.jpg",
			altImg: "vase",
			price: "1000 ₽",
			nameText: "Ваза из стекла с разноцветным узором",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "fontain@2x.jpg",
			altImg: "fontain",
			price: "6000 ₽",
			nameText: "Фонтан в форме цветка",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "elephant_2.jpg",
			altImg: "elephant",
			price: "11000 ₽",
			nameText: "Слон коричневый с позолотой",
			textBtn: "В корзину"
		}]
    }, 
    {
        video: {
            poster: 'video_poster.jpg',
            src: 'loading_animation.webm'
        },
        title: "Отпуск у себя дома",
        btnText: "Все акции",
        descrText: "Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. Абзац 
        считается каноническим во всех справочниках по типографике и предлагается к использованию в 
        статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов.",
        cardProducts: [{
			srcImg: "evie-shaffer-500190-unsplash@2x.jpg",
			altImg: "vase",
			price: "1000 ₽",
			nameText: "Ваза из стекла с разноцветным узором",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "fontain@2x.jpg",
			altImg: "fontain",
			price: "6000 ₽",
			nameText: "Фонтан в форме цветка",
			textBtn: "В корзину"
        }, 
        {
			srcImg: "elephant_2.jpg",
			altImg: "elephant",
			price: "11000 ₽",
			nameText: "Слон коричневый с позолотой",
			textBtn: "В корзину"
		}]
    }
    
] %}

<div class="offers-slider-wrapper inner">
    <div class="js-offers-slider offers-slider">
        {% for slide in slides %}
            <div class="offers-slider__slide">
                <div class="package-offer">
                    <div class="package-offer__media-wrapper">
                        {% if slide.video %}
                            <div class="package-offer__video-wrapper">
                                <video class="package-offer__video" loop="true" poster="img/{{slide.video.poster}}">
                                    <source src="video/{{slide.video.src}}" type="video/webm">
                                    Your browser doesn't support HTML5 video tag.
                                </video>
                                <div class="package-offer__video-buttons">
                                    <button class="video-play js-video-play" type="button">
                                        {{mixins.icon('play-button')}}
                                    </button>
                                    <button class="video-pause js-video-pause" type="button">
                                        {{mixins.icon('two-lines')}}
                                    </button>
                                    <button class="video-expand js-video-expand" type="button">
                                        {{mixins.icon('fullscreen')}}
                                    </button>
                                    <button class="video-compress js-video-compress" type="button">
                                        {{mixins.icon('fullscreen-exit')}}
                                    </button>
                                </div>
                            </div>
                        {% else  %}
                        <div class="package-offer__image-wrapper">
                            <a href="#" class="package-offer__image" style="background-image: url(./img/{{slide.image}});"></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="package-offer__content">
                        <div class="package-offer__descr">
                            <div class="package-offer__descr-top">
                                <h3 class="package-offer__title title">
                                    <a href="#">{{slide.title}}</a>
                                </h3>
                                <button class="package-offer__button btn btn_md btn_offers btn_anim btn_bord">
                                    <span class="btn__text">
                                        {{slide.btnText}}
                                    </span>
                                    <span class="btn__icon">
                                        {{mixins.icon('arrow-right')}}
                                    </span>
                                </button>
                            </div>
                            <div class="package-offer__text js-dots">
                                {{slide.descrText}}
                            </div>
                        </div>
                        <div class="package-offer__cards">
                            {% for card in slide.cardProducts %}
                                <div class="package-offer__card">
                                    {{ mixins.product({
                                action: true,
                                srcImg: card.srcImg,
                                altImg: card.altimg,
                                price: card.price,
                                textBtn: "В корзину",
                                nameText: card.nameText,
                                likebtn: false
                                }) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>