{% raw %}
<script type="text/underscorejs" id="order-map-infobox">
            <div class="order-marker">
                
                <h2 class="order-marker__title">
                    {{=baloon.title}}
                </h2>
                <div class="order-marker__adress">
                    {{=baloon.adress}}
                </div>
                <div class="order-marker__work-time">
                    {{=baloon.workTime}}
                </div>
                <div class="order-marker__phone">
                    {{=baloon.phone}}
                </div>
                <div class="order-marker__btn">
                    <span class="btn">Выбран</span>
                <div>
            </div>
</script>
{% endraw %}