.price
	display: flex
	&__number
		font-size: 28px
		color: $black
		.price_old &
			position: relative
			font-size: 20px
			color: $gray
			&:after
				position: absolute
				top: 14px
				left: -5%
				content: ''
				width: 110%
				height: 1px
				background-color: $gray
	&__text
		margin-left: 18px
		font-size: 14px
		margin-top: 12px
		color: $gray
		.price_old &
			margin-top: 6px
