.new-search
	width: 100%
	&__label
		position: relative
		display: block
		width: 100%
		height: 40px
	&__input
		width: 100%
		height: 40px
		border: 1px solid $silver
		padding: 10px 36px 10px 16px
		font-size: 14px
		box-sizing: border-box
		font-family: $montserrat
		display: block
		+placeholder
			font-size: 14px
			color: $gray
		&:focus
			+placeholder
				color: transparent
	&__btn
		background: none
		position: absolute
		top: 0
		right: 0
		bottom: 0
		height: 40px
		width: 35px
		font-size: 20px
		line-height: 36px
		.icon
			position: absolute
			top: 50%
			left: 50%
			margin: -10px 0 0 -10px
			vertical-align: middle
			fill: $silver

// .js-scroll-wrapper
// 	position: relative
// 	overflow: auto
	
// .ps__thumb-y 
// 	background-color: $red !important
// 	border-radius: 0px !important
// 	width: 10px !important
// 	background-color: $red
// 	right: -3px !important
// 	position: absolute

// .ps__rail-y 
// 	display: block !important
// 	opacity: 1 !important
// 	width: 4px !important
// 	background-color: #cacad0 !important
// 	right: 0
// 	margin-right: 4px

.search
	&__btn
		position: absolute
		top: 22px
		left: 15px
		color: $silver
		font-size: 0
		background-color: transparent 
		.icon
			line-height: 20px
			vertical-align: middle
			display: inline-block
			transition: color .3s
	&__open
		.is-open & 
			display: none
		.icon
			font-size: 20px
			.search__btn:hover &
				color: $lightBrown
	&__close 
		display: none
		.is-open & 
			display: inline-block
		.icon
			font-size: 16px
			transition: color .3s
			.search__btn:hover &
				color: $lightBrown
	&__text
		font-family: $montserrat
		+f(13px, 400, 1.4)
		color: $gray
		display: inline-block
		vertical-align: middle
		margin-left: 12px
		transition: color .3s
		.search__btn:hover &
			color: $black
	&__dropdown 
		position: absolute
		top: 65px
		left: 50%
		right: 0
		width: 100vw
		margin-left: -50vw
		visibility: hidden
		opacity: 0
		transition: 0.4s
		background-color: $white
		z-index: 5
		+r(1246)
			padding: 0 7px
		.is-open &
			visibility: visible
			opacity: 1
		+md 
			position: fixed
			&:before
				content: ""
				position: fixed
				top: 0
				left: 0
				right: 0
				height: 65px
				background-color: $white
	&__overlay
		position: absolute
		top: 72px
		left: 0
		right: 0
		background-color: rgba($black, 0.2)
		height: 1000vh
		z-index: -1
		+md 
			top: 49px
	&__form
		display: flex
		justify-content: space-between
		padding:  15px 15px 13px
		position: relative
		z-index: 5
		background-color: $white
		+md 
			padding: 10px 15px
		&:after
			position: absolute
			bottom: 0
			left: -50%
			right: -50%
			width: 200%
			content: ''
			height: 2px
			background-color: $silver
		.btn 
			margin-left: auto
	&__input
		font-family: $montserrat
		color: $black
		+f(28px, 400, 1.38)
		+md
			font-size: 16px
		&:placeholder 
			color: $silver
	&__btn-mob
		background-color: transparent
		font-size: 0
		display: inline-block
		.icon
			font-size: 24px
			color: $lightBrown
	&__show-more
		text-align: center
		margin-top: 32px
		margin-bottom: 41px
	&__results
		position: relative
		max-height: 500px
		padding-top: 24px
		padding-bottom: 40px
		z-index: 2
		background-color: $white


.search-list
	+ .search-list 
		margin-top: 43px
	&__title
		margin-bottom: 16px
		+f(13px, 500, 1.23)
		text-transform: uppercase
		color: rgba($black, .8)
	&__quantity
		color: rgba($silver, .8)
		margin-left: 3px
	&__item
		display: block
		&:not(:last-child)
			margin-bottom: 16px
		+hover 
			background-color: rgba($gallery, 0.5)
	&__link
		display: flex
		align-items: center
	&__image
		display: block
		+cover 
		flex: 0 0 72px
		min-width: 72px
		padding-bottom: 72px
		margin-right: 16px
	&__text
		font-size: 16px
		+f(16px,400,1.125)
	&__highlighted
		font-weight: 600

.search-page
	&__tabs.tabs:not(:first-child)
		margin-top: 0
	&__filter
		margin-bottom: 30px
	.filter__top-select
		+sm 
			margin-top: 12px
		&:first-child
			margin-top: 0px
	&__card
		margin-top: 24px
	.filter__top-select span 
		margin-right: 16px
	.card-catalog
		margin-bottom: 24px
	&__show-more
		margin-top: 24px

.ps .ps__rail-x.ps--clicking, 
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover, 
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus, 
.ps .ps__rail-y:hover
	background: none

.show-more
	position: relative
	text-align: center
	&__text > *
		display: inline-block
		vertical-align: middle
	&__link
		font-size: 16px
		line-height: 1
		text-decoration: underline
	&__details
		color: $gray
	&__pagination
		position: absolute
		right: 0
		bottom: 0
		+sm 
			position: static
			margin: 12px auto 0

.pagination
	display: flex
	align-items: center
	justify-content: center
	color: $gray
	&__item
		&_next, 
		&_prev
			&.is-hidden 
				opacity: 0
				visibility: hidden
				transition: opacity 0.4s, visibility 0.4s
				pointer-events: none
			.pagination__link
				font-size: 0
				.icon
					font-size: 12px
					margin-bottom: 2px
	&__link
		display: block
		padding: 0 8px
		+f(16px,400,1.5)
		transition: color .3s
		+hover
			color: $black
		.is-active &
			color: $lightBrown
			+hover
				color: $lightBrown
	
