.shops-info
	&__title-simple
		&:not(:last-child)
			margin-bottom: 15px 
	&__head
		margin-bottom: 33px
		+clr
		&:not(:first-child)
			margin-top: 24px 
	&__search
		float: left
		width: 100%
		max-width: 560px
		+md
			width: calc(100% - 288px)
		+xs
			width: calc(100% - 94px)
	&__view
		float: right
		padding-left: 16px
		width: 288px 
		text-align: right
		+xs
			width: 94px 


.shops-table
	width: 100%
	// table-layout: fixed
	display: table
	+sm
		display: block
	&__head
		display: table-header-group
		+sm
			display: none
	&__body
		display: table-row-group
		+sm
			display: block
	&__row
		display: table-row
		&:not(:last-child)
			+sm
				padding: 16px 0 8px
				border-top: 1px solid $silver 
		+sm
			display: block
	&__td,
	&__th
		padding-right: 11px
		position: relative
		vertical-align: middle
		display: table-cell
	&__th
		position: relative
		padding: 0 16px 14px
		line-height: 1.28
		font-size: 14px
		&:before
			position: absolute
			content: "" 
			left: 0
			right: 0
			bottom: -1px
			height: 2px
			background-color: $silver 
	&__td
		padding: 9px 16px 6px
		font-size: 16px
		&:after 
			top: 0
		+md
			font-size: 14px
		+sm
			display: block
			padding: 0 8px 10px
			font-size: 14px
			&:before
				margin-bottom: 10px
				content: attr(data-title)
				font-size: 16px
				display: block
				color: black
				font-weight: 500
	&__td, 
	&__cell
		&:after
			position: absolute
			content: ''
			left: 0
			right: 0
			height: 1px
			background-color: $silver
			+sm
				display: none
	&__cell
		&:after
			bottom: 0
	&__text
		&_gray
			color: $gray
	&__day
		color: $gray 
		display: inline
		& + .shops-table__text
			display: inline
	&__addres
		color: $gray 
	&__title
		+f(16px, 400, 1.5)
		margin-bottom: 14px
	&__cell
		padding: 24px 16px
		position: relative
		vertical-align: middle
		display: table-cell
	&__link
		color: $lightBrown
		text-decoration: underline

.shops
	// display: flex
	position: relative
	height: 624px
	&__map-container
		position: absolute
		bottom: 0
		top: 0
		left: 280px
		right: 0
		+md 
			left: 0
			top: 168px


	&__map
		position: absolute
		bottom: 0
		left: 0
		height: 100%
		width: 100%
		.is-open &
			transform: translateX(-280px)
			width: 280px
			height: calc(624px - 191px)
			+md 
				transform: none
	&__gallery
		+coverdiv
		opacity: 0
		visibility: hidden
		z-index: 2
		&.is-active
			opacity: 1
			visibility: visible
			z-index: 10
			background-color: $white
	&__slider
		position: relative
		z-index: 3
	&__fancy-image
		display: block
		+cover
		padding-bottom: 800px
		min-width: 1000px
		+md 
			display: none
	&__buttons
		position: absolute
		bottom: 10px
		left: calc(50% + 40px)	
		transform: translateX(-50%)
		z-index: 10
		+md 
			left: 50%
		button
			margin-left: 10px
		
	&__overlay
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba($black, 0.2)
		z-index: -1
		// pointer-events: none
		opacity: 0
		visibility: hidden
		+gpu
		min-width: 320px
		// overflow: auto
		transition: opacity 0.3s, visibility 0.3s, z-index 0.3s
		.is-open & 
			opacity: 1
			visibility: visible
			z-index: 1
	
.shops-list 
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 280px
	width: 280px
	max-height: 624px
	overflow: auto
	color: $gray
	z-index: 20
	+md
		right: 0
		max-height: 168px
		width: 100%	
	.is-open &
		overflow: hidden
		max-height: 191px
	&__row
		margin-bottom: 7px
	&__shop
		padding: 24px 16px 
		display: block
		transition: opacity 0.4s, visibility 0.4s, background-color 0.4s
		+md 
			padding: 12px 16px
		&:not(:nth-last-child(3))
			border-bottom: 1px solid rgba($silver, 0.5)
		&.is-active
			background-color: rgba($gallery, 0.5)
			border-bottom: none
			.is-open & 
				position: absolute
				top: 0
				left: 0
				width: 280px
				+md 
				width: 100%
			&.is-hidden
				opacity: 1
				visibility: visible
				display: block
		&.is-hidden
			opacity: 0
			visibility: hidden
			display: none
	&__title
		+f(16px, 400, 1.5)
		margin-bottom: 15px
		color: $black
	.ps.ps--active-y .ps__rail-y
		right: 0 !important 
	&__link
		color: $lightBrown
		text-decoration: underline
		background-color: transparent
		font-size: 14px
		font-weight: 400
	
.shops-list__shop.is-visible 
	.is-active & 
		opacity: 1

.shops-slider
	background-color: $black
	&__slide
		display: block
		+cover
		padding-bottom: 624px
		width: 100%
		transform: scale(1.4)
		transform-origin: center
		
	.slick-slide
		height: 624px
		overflow: hidden
		pointer-events: none
		+md 
			height: 100%
	&__prev
		position: absolute
		bottom: 16px
		left: calc(50% - 77px)
		z-index: 10
	&__next
		position: absolute
		bottom: 16px
		left: calc(50% - 39px)

.fancybox-content
	padding: 0

	